* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial;
}
.all-god {
  display: grid;
  grid-template-columns: 300px 1fr;
}

/* ЛЕВАЯ ПАНЕЛЬ УПРАВЛЕНИЯ */
.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1;
  height: 100%;
  padding-top: 30px;
  background: rgba(0, 9, 46);
  background: -webkit-linear-gradient(50deg, rgba(0,9,46,1) 0%, rgba(56,126,218,1) 60%, rgba(83,221,97,1) 100%);
  background: -o-linear-gradient(50deg, rgba(0,9,46,1) 0%, rgba(56,126,218,1) 60%, rgba(83,221,97,1) 100%);
  background: linear-gradient(50deg, rgba(0,9,46,1) 0%, rgba(56,126,218,1) 60%, rgba(83,221,97,1) 100%);
  user-select: none;
}
.user-information {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  align-items: center;
}
.user-img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
.user-name {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
  color: #fff;
  cursor: default;
}
.change-input {
  margin-top: 8px;
  border: 2px solid black;
  background: none;
  display: none;
  border-radius: 7px;
  outline: 0;
  text-align: center;
}

.user-status {
  width: 80%;
  margin-top: 3px;
  text-align: center;
  color: #fff;
  cursor: default;
}

.control-pannel {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}
.control-pannel > p:nth-child(1) {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 7px;
}
.control-button {
  font-size: 18px;
  border: none;
  margin-top: 5px;
  padding: 6px;
  border-radius: 7px;
  outline: 0;
  cursor: pointer;
}
.button-delete {
  margin-top: 7px;
}
.control-button:hover {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
}


/* ОСТАЛЬНОЕ ТЕЛО ПРИЛОЖЕНИЯ */
.bodys-section {
  height: 100%;
  grid-column: 2;
}
.top-bar {
  display: flex;
  width: 100%;
  padding-top: 25px;
}
.search-list {
  width: 80%;
  font-size: 18px;
  padding: 5px 10px;
  margin: 0 auto;
  outline: 0;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}

.search-list:focus {
  box-shadow: 0 0 7px 3px rgba(74, 202, 168, 0.9);
}
