<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" href="/img/batman-old.png" type="image/png">
  <title>ListProg || Home</title>
</head>
<body>
  <div class="modal" id="modal">
		<!-- <span class="close" id="close">5</span> -->
		<div class="content">
      <label><input type="text" class="list-name" placeholder="Name..."></label>
      <label><input type="text" class="list-first-about" placeholder="First about..."></label>
      <label><input type="text" class="list-second-about" placeholder="Second about..."></label>
      <button class="list-button modal-list-button">Make new list</button>
		</div>
	</div>

  <div class="all-god">
    <div class="left-section">
      <div class="user-information">
        <img src="https://i.redd.it/pzfhsy53e9e01.png" class="user-img" alt="">
        <p class="user-name"><%= userName.login || 'Unknown' %></p>
        <input type="text" class="change-input">
        <p class="user-status">Lorem ipsum dolor sit amet.</p>
      </div>
      <div class="control-pannel">
        <p>Control Pannel</p>
        <button class="control-button button-add">Add new list</button>
        <button class="control-button button-delete">Delete list</button>
      </div>
      <div class="settings-block">
        <button class="control-button settings-button">Settings</button>
      </div>
      <div class="log-out-block">
        <a href="#" class="log-out-a">Log out <span><%= userName.login || 'Unknown' %></span></a>
      </div>
    </div>

    <section class="bodys-section">
      <div class="top-bar">
        <input type="text" class="search-list" placeholder="Search any lists...">
      </div>
      <div class="shower-all-list">
        <div class="info-about-list">
          <h2>All of your list: <span class="numb-of-lists">0</span></h2>

          <h2>Completed lists: <span class="numb-complete-list">0</span></h2>
        </div>

        <div class="lists-block">

          <div class="block-list">
            <div class="front">
              <div class="top-list-block">
                <p class="name-list">Number list №1</p>
                <p class="date-list">List start at: <span>29.08.19</span></p>
                <img src="https://propostuplenie.ru/website/navigator/var/custom/file/gbp-h.jpg" class="img-list" alt="">
              </div>
              <div class="bottom-list-block">
                <p class="about-list">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum molestias nisi, expedita beatae dicta sapiente!</p>
                <div class="button-block">
                  <button class="list-button show-list-button">show</button>
                  <button class="list-button complete-list-button">complete</button>
                </div>
              </div>
            </div>
            <div class="back">
              <p class="back-about-list">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ratione excepturi odio consectetur fugiat molestias, tempore minus atque voluptatem asperiores facilis quaerat voluptatum, culpa sed nemo. Voluptatem incidunt, id numquam mollitia aspernatur vel officiis nulla? Doloremque, neque, nihil. Doloremque, cum, temporibus! Similique, nisi, fugit. Quis, magnam.</p>
            </div>
          </div>

          <!-- <div class="block-list">
            <div class="front">
              <div class="top-list-block">
                <p class="name-list">Number list №2</p>
                <p class="date-list">List start at: <span>29.08.19</span></p>
                <img src="http://techrocks.ru/wp-content/uploads/2018/01/Novyj-gibkij-grafik.png" class="img-list" alt="">
              </div>
              <div class="bottom-list-block">
                <p class="about-list">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur maxime similique fuga saepe eos totam.</p>
                <div class="button-block">
                  <button class="list-button show-list-button">show</button>
                  <button class="list-button complete-list-button">complete</button>
                </div>
              </div>
            </div>
            <div class="back">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam ut minima veniam, expedita officia magni doloremque eaque perspiciatis amet quos possimus vitae nisi, ipsum laboriosam omnis repudiandae. Consectetur, sunt harum.</p>
            </div>
          </div> -->

        </div>
      </div>
      <input type="text" class="timer" name="timer" placeholder="Установить таймер">
    </section>


  </div>

<script await src="/js/script.js"></script>
</body>
</html>
