* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial;
}
.all-god {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
}

/* МОДАЛЬНОЕ ОКНО */
.modal {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
  align-items: center;
  justify-content: center;
	position: fixed;
  background: rgba(0, 9, 46);
  background: -webkit-linear-gradient(50deg, rgba(0, 9, 46, 0.7) 0%, rgba(56, 126, 218, 0.7) 60%, rgba(83, 221, 97, 0.7) 100%);
  background: -o-linear-gradient(50deg, rgba(0, 9, 46, 0.7) 0%, rgba(56, 126, 218, 0.7) 60%, rgba(83, 221, 97, 0.7) 100%);
  background: linear-gradient(50deg, rgba(0, 9, 46, 0.7) 0%, rgba(56, 126, 218, 0.7) 60%, rgba(83, 221, 97, 0.7) 100%);
	overflow: auto;
	z-index: 10;
  opacity: 0.1;
  transition: all 0.3s ease-out;
}
.content {
  width: 45%;
	margin: 10% auto;
  padding: 20px 10px;
	border: 1px solid #4acaa8;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 1);
  text-align: center;
}
.content label {
  width: 55%;
  margin: 0 auto;
  display: block;
}
.content input {
  width: 100%;
  font-size: 18px;
  padding: 5px 10px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}
.content label:not(:first-child) {
  margin-top: 20px;
}
.content input:focus {
  box-shadow: 0 0 4px 2px rgba(74, 202, 168, 0.9);
}

.content .modal-list-button {
  width: 55%;
  font-size: 16px;
  background-color: rgba(83,221,97,1);
  padding: 10px;
  margin-top: 30px;
}

/* ЛЕВАЯ ПАНЕЛЬ УПРАВЛЕНИЯ */
.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1;
  height: inherit;
  padding-top: 30px;
  padding-bottom: 30px;
  background: rgba(0, 9, 46);
  background: -webkit-linear-gradient(50deg, rgba(0,9,46,1) 0%, rgba(56,126,218,1) 60%, rgba(83,221,97,1) 100%);
  background: -o-linear-gradient(50deg, rgba(0,9,46,1) 0%, rgba(56,126,218,1) 60%, rgba(83,221,97,1) 100%);
  background: linear-gradient(50deg, rgba(0,9,46,1) 0%, rgba(56,126,218,1) 60%, rgba(83,221,97,1) 100%);
  user-select: none;
}
.user-information {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  align-items: center;
}
.user-img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
.user-name {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
  color: #fff;
  cursor: default;
  text-align: center;
}
.user-status {
  width: 80%;
  margin-top: 3px;
  text-align: center;
  color: #fff;
  cursor: default;
}
.change-input {
  margin-top: 8px;
  border: 2px solid black;
  display: none;
  background: none;
  border-radius: 7px;
  outline: 0;
  text-align: center;
}
/* контрольная панель управления */
.control-pannel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  padding: 0px 20%;
}
.control-pannel > p:nth-child(1) {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}
.control-button {
  width: 100%;
  font-size: 18px;
  border: none;
  padding: 6px;
  border-radius: 7px;
  outline: 0;
  cursor: pointer;
  transition: all 0.2s ease-out;
  margin: 7px auto;
}
.button-delete {
  margin-top: 7px;
}
.control-button:hover {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
}
.settings-block {
  width: 100%;
  padding: 0px 20%;
  margin-top: auto;
}
.settings-button {
  border: 2px solid #fff;
  background: none;
  color: #fff;
  transition: all 0.45s ease-out;
}
.settings-button:hover {
  background: #fff;
  color: #000;
}
.log-out-block {
  margin-top: 15px;
}
.log-out-a {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease-out;
}
.log-out-a > span {
  transition: all 0.3s ease-out;
}
.log-out-a:hover > span {
  color: rgba(83,221,97,0.6);
}


/* ОСТАЛЬНОЕ ТЕЛО ПРИЛОЖЕНИЯ */
.bodys-section {
  height: 100%;
  grid-column: 2;
}
  /* верхний toolbar */
.top-bar {
  display: flex;
  width: 100%;
  padding-left: 47px;
  padding-right: 47px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 4px 3px 10px 0px rgba(0, 0, 0, 0.5);
}
.search-list {
  width: 100%;
  font-size: 18px;
  padding: 5px 10px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}
.search-list:focus {
  box-shadow: 0 0 7px 3px rgba(74, 202, 168, 0.9);
}

  /* блок со всеми list */
.shower-all-list {
  width: 100%;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
.shower-all-list h2 {
  text-transform: uppercase;
}
.info-about-list {

}
.info-about-list h2 {
  display: inline-block;
  margin-right: 20px;
}

  /* list блоки */
.lists-block {
  height: 80vh;
  margin-top: 40px;
  overflow: scroll;
  transition: all 0.5s ease-out;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px 0px;
}
.block-list {
  position: relative;
  width: 27%;
  height: 100vh;
  max-height: 330px;
  max-width: 290px;
  min-width: 250px;
  display: inline;
  margin-right: 10px;
  margin-top: 15px;
  perspective: 1000px;
  user-select: none;
}
.block-list .front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.8s;
  backface-visibility: hidden;
  border: 3px solid #4acaa8;
  border-radius: 7px;
}
.block-list .front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 10px;
  padding-top: 6px;
  padding-bottom: 10px;
}
.block-list .back {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  transform: rotateY(180deg);
  background: linear-gradient(50deg, rgba(0,9,46,1) 0%, rgba(56,126,218,1) 60%, rgba(83,221,97,1) 100%);
  color: white;
}
/* .block-list:hover .front {
  transform: rotateY(180deg);
}
.block-list:hover .back {
  transform: rotateY(360deg);
} */

.top-list-block {
  text-align: center;
  margin-bottom: 10px;
  height: 50%;
}
.name-list {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 2px;
}
.date-list {
  font-size: 14px;
  text-align: center;
}
.img-list {
  width: 100%;
  height: auto;
  max-height: 135px;
  /* display: none; */
}
.about-list {
  font-size: 17px;
  margin-bottom: 6px;
}
.button-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.list-button {
  width: 45%;
  padding: 6px 0px;
  border: none;
  border-radius: 7px;
  outline: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 13px;
  transition: all 0.2s ease;
}
.list-button:hover {
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
}
.show-list-button {
  background-color: rgba(56,126,218,1);
}
.complete-list-button {
  background-color: rgba(83,221,97,1);
}

@media (max-width: 1200px) {
  .block-list {
    max-width: none;
  }
}
